/* .plan-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.plan-image {
    width: 150px; 
    height: auto; 
    margin-right: 20px;
    border-radius: 8px;
}

.plan-details {
    flex-grow: 1;
}

.plan-name {
    font-size: 24px;
    color: #333; 
    margin-bottom: 10px;
}

.plan-description {
    font-size: 16px;
    color: #443c3c; 
    margin-bottom: 10px;
}
.purchase-button {
    display: flex;
    float: right;
    background-color:#3074bd ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
}

.purchase-button:hover {
    background-color: #287419;
}



.plan-details strong {
    color: #000000;
}

.plan-details .plan-amount {
    color: #007bff; 
}

.plan-details .plan-term,
.plan-details .plan-expected-return {
    color: #666; 
}

.plans-container{
    margin-top: 75px;
} */

/* .plan-details p {
    font-size: 14px;
    color: #888; 
    margin-bottom: 5px;
} */

 .plan-card {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
  }
  
  .plan-details {
    display: flex;
    width: 100%;

  }
  
  .plan-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  
  .plan-text {
    padding: 20px;
    width: 100%
  }
  
  .plan-name {
    margin-bottom: 10px;
  }
  
  .plan-description {
    margin-bottom: 10px;
  }
  
  .purchase-button {
    margin-left: auto !important;
    display: flex !important;
  
  }
  .select-control{
    color:rgb(107, 107, 183)
  }
  
  